@import url("https://fonts.googleapis.com/css?family=Raleway");

textarea {
  outline: none;
}

@media only screen and (max-width: 767px) {
  .code__container__box-desktop {
    display: none;
  }
  .code__container__header {
    display: none;
  }

  .code__container__box-mobile {
    display: contents;
    font-size: 16px;
  }

  .code__container {
    width: 300px;
    height: 500px;
    margin: auto;
  }

  .code__container__editor {
    height: 220px;
    width: 265px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -560px;
    left: 15px;
    overflow-x: hidden;
  }

  .code__container__transpiled-code {
    height: 220px;
    width: 265px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -520px;
    left: 15px;
    overflow-x: hidden;
  }

  .code__container__menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .code__container__box-mobile {
    display: none;
  }

  .code__container {
    width: 700px;
    height: 400px;
    margin: auto;
  }

  .code__container__header {
    color: #37d800;
    margin: 10px 0 0 0;
    text-align: center;
  }

  .code__container__box-desktop {
    padding: 0;
    font-size: 16px;
    transform: scale(0.95);
  }

  .code__container__editor {
    height: 320px;
    width: 365px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -380px;
    left: 30px;
  }

  .code__container__transpiled-code {
    height: 320px;
    width: 365px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -726px;
    left: 419px;
  }

  .code__container__menu {
    position: relative;
    top: -638px;
    left: 2px;
    width: 738px;
  }

  .code__container__menu__button-img {
    height: 28px;
    padding-right: 2px;
    padding-top: 5px;
  }

  .code__container__menu__button-link {
    text-decoration: none;
    color: #eaeaea;
    font-size: 24px;
    padding-right: 17px;
  }

  .code__container__menu__button-link:hover {
    opacity: 0.4;
  }

  .code__container__modal__ast-viewer {
    position: static !important;
    width: 1000% !important;
    height: 1000% !important;
    right: 0;
    top: 0;
    z-index: 1000;
    overflow: auto;
    background-color: black;
    opacity: 0.9;
  }

  .code__container__modal__ast-viewer__content-ast {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 1000% !important;
    height: 1000px !important;
    margin: auto;
    padding: 20px;
    width: 100%;
    color: #37d800;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
  }

  .code__container__modal__ast-viewer__content-ast a {
    text-decoration: none;
  }

  .code__container__modal__ast-viewer__content-ast-close {
    position: absolute;
    right: 100px;
    top: 40px;
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  .code__container__modal__ast-viewer__content-ast-close:hover,
  .code__container__modal__ast-viewer__content-ast-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1024px) {
  .code__container__box-mobile {
    display: none;
  }

  .code__container {
  }

  .code__container__header {
    color: #37d800;
    margin: 10px 0 0 0;
    text-align: center;
  }

  .code__container__box-desktop {
    margin: 0;
    font-size: 16px;
  }

  .code__container__editor {
    height: 327px;
    width: 362px;
    word-break: break-all;
    overflow-y: auto;
    margin: 1.67em 0;
    position: relative;
    top: -380px;
    left: 20px;
  }

  .code__container__transpiled-code {
    height: 327px;
    width: 362px;
    word-break: break-all;
    overflow-y: auto;
    margin: 1.67em 0;
    position: relative;
    top: -734px;
    left: 424px;
  }

  .code__container__menu {
    position: relative;
    top: -743px;
    left: 2px;
    width: 738px;
  }

  .code__container__menu__button-img {
    height: 28px;
    padding-right: 2px;
    padding-top: 5px;
  }

  .code__container__menu__button-link {
    text-decoration: none;
    color: #eaeaea;
    font-size: 24px;
    padding-right: 17px;
  }

  .code__container__menu__button-link:hover {
    opacity: 0.4;
  }

  .code__container__modal__ast-viewer {
    position: fixed !important;
    width: 2000px;
    height: 1000px;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: black;
    opacity: 0.9;
  }

  .code__container__modal__ast-viewer__content-ast {
    margin: 5% 0 5% 5%;
    padding: 20px;
    width: 800px;
    color: #37d800;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    overflow: hidden;
  }

  .code__container__modal__ast-viewer__content-ast a {
    text-decoration: none;
  }

  .code__container__modal__ast-viewer__content-ast-close {
    position: fixed;
    right: 40px;
    top: 20px;
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  .code__container__modal__ast-viewer__content-ast-close:hover,
  .code__container__modal__ast-viewer__content-ast-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

/**
 * Darcula theme
 *
 * Adapted from a theme based on:
 * IntelliJ Darcula Theme (https://github.com/bulenkov/Darcula)
 *
 * @author Alexandre Paradis <service.paradis@gmail.com>
 * @version 1.0
 */

.code-theme code[class*="language-"],
.code-theme pre[class*="language-"] {
  color: #a9b7c6;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.code-theme pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
.code-theme code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

.code-theme pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
.code-theme code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

/* Code blocks */
.code-theme pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.code-theme :not(pre) > code[class*="language-"],
.code-theme pre[class*="language-"] {
  background: #2b2b2b;
}

/* Inline code */
.code-theme :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.code-theme .token.comment,
.code-theme .token.prolog,
.code-theme .token.cdata {
  color: #808080;
}

.code-theme .token.delimiter,
.code-theme .token.boolean,
.code-theme .token.keyword,
.code-theme .token.selector,
.code-theme .token.important,
.code-theme .token.atrule {
  color: #cc7832;
}

.code-theme .token.operator,
.code-theme .token.punctuation,
.code-theme .token.attr-name {
  color: #a9b7c6;
}

.code-theme .token.tag,
.code-theme .token.tag .punctuation,
.code-theme .token.doctype,
.code-theme .token.builtin {
  color: #e8bf6a;
}

.code-theme .token.entity,
.code-theme .token.number,
.code-theme .token.symbol {
  color: #6897bb;
}

.code-theme .token.property,
.code-theme .token.constant,
.code-theme .token.variable {
  color: #9876aa;
}

.token.string,
.token.char {
  color: #6a8759;
}

.code-theme .token.attr-value,
.code-theme .token.attr-value .punctuation {
  color: #a5c261;
}
.code-theme .token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.code-theme .token.url {
  color: #287bde;
  text-decoration: underline;
}

.code-theme .token.function {
  color: #ffc66d;
}

.code-theme .token.regex {
  background: #364135;
}

.code-theme .token.bold {
  font-weight: bold;
}

.code-theme .token.italic {
  font-style: italic;
}

.code-theme .token.inserted {
  background: #294436;
}

.code-theme .token.deleted {
  background: #484a4a;
}

/*code.language-css .token.punctuation {
	color: #cc7832;
}*/

.code-theme code.language-css .token.property,
.code-theme code.language-css .token.property + .token.punctuation {
  color: #a9b7c6;
}

.code-theme code.language-css .token.id {
  color: #ffc66d;
}

.code-theme code.language-css .token.selector > .token.class,
.code-theme code.language-css .token.selector > .token.attribute,
.code-theme code.language-css .token.selector > .token.pseudo-class,
.code-theme code.language-css .token.selector > .token.pseudo-element {
  color: #ffc66d;
}
