@import url("https://fonts.googleapis.com/css?family=Raleway");

textarea {
  outline: none;
}


@media only screen and (max-width: 767px) {
  .code__container__box-desktop {
    display: none;
  }
  .code__container__header {
    display:none;
  }

  .code__container__box-mobile {
    display: contents;
    font-size: 16px;
  }

  .code__container {
    width: 306px;
    height: 500px;
    position: fixed;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -152px;
  }

  .code__container__editor {
    height: 178px;
    width: 275px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -447px;
    left: 15px;
  }

  .code__container__transpiled-code {
    height: 178px;
    width: 275px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -424px;
    left: 15px;
  }

  .code__container__menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .code__container__box-mobile {
    display: none;
  }

  .code__container {
    width: 700px;
    height: 400px;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -350px;
  }

  .code__container__header {
    color: #37d800;
    margin: 10px 0 0 0;
    text-align: center;
  }

  .code__container__box-desktop {
    margin: 0;
    font-family: Courier;
    font-size: 14px;
  }

  .code__container__editor {
    height: 274px;
    width: 323px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -316px;
    left: 15px;
  }

  .code__container__transpiled-code {
    height: 274px;
    width: 323px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -616px;
    left: 360px;
  }

  .code__container__menu {
    position: relative;
    top: -638px;
    left: 2px;
    width: 738px;
  }

  .code__container__menu__button-img {
    height: 28px;
    padding-right: 2px;
    padding-top: 5px;
  }

  .code__container__menu__button-link {
    text-decoration: none;
    color: #eaeaea;
    font-size: 24px;
    padding-right: 17px;
  }

  .code__container__menu__button-link:hover {
    opacity: 0.4;
  }

  .code__container__modal__ast-viewer {
    position: absolute !important;
    width: 100%;
    height: 500px;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    background-color: black;
    opacity: 0.9;
  }

  .code__container__modal__ast-viewer__content-ast {
    margin: auto;
    padding: 20px;
    width: 80%;
    color: #37d800;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
  }

  .code__container__modal__ast-viewer__content-ast a {
    text-decoration: none;
  }

  .code__container__modal__ast-viewer__content-ast-close {
    position: fixed;
    right: 40px;
    top: 20px;
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  .code__container__modal__ast-viewer__content-ast-close:hover,
  .code__container__modal__ast-viewer__content-ast-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1024px) {
  .code__container__box-mobile {
    display: none;
  }

  .code__container {
  }
  .code__container__header {
    color: #37d800;
    margin: 10px 0 0 0;
    text-align: center;
  }

  .code__container__box-desktop {
    margin: 0;
    font-family: Courier;
  }

  .code__container__editor {
    height: 285px;
    width: 372px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -330px;
    left: 15px;
  }

  .code__container__transpiled-code {
    height: 285px;
    width: 372px;
    word-break: break-all;
    overflow-y: scroll;
    margin: 1.67em 0;
    position: relative;
    top: -642px;
    left: 409px;
  }

  .code__container__menu {
    position: relative;
    top: -662px;
    left: 2px;
    width: 738px;
  }

  .code__container__menu__button-img {
    height: 28px;
    padding-right: 2px;
    padding-top: 5px;
  }

  .code__container__menu__button-link {
    text-decoration: none;
    color: #eaeaea;
    font-size: 24px;
    padding-right: 17px;
  }

  .code__container__menu__button-link:hover {
    opacity: 0.4;
  }

  .code__container__modal__ast-viewer {
    position: absolute !important;
    width: 100%;
    height: 500px;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    background-color: black;
    opacity: 0.9;
  }

  .code__container__modal__ast-viewer__content-ast {
    margin: auto;
    padding: 20px;
    width: 80%;
    color: #37d800;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
  }

  .code__container__modal__ast-viewer__content-ast a {
    text-decoration: none;
  }

  .code__container__modal__ast-viewer__content-ast-close {
    position: fixed;
    right: 40px;
    top: 20px;
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  .code__container__modal__ast-viewer__content-ast-close:hover,
  .code__container__modal__ast-viewer__content-ast-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}




/**
 * Darcula theme
 *
 * Adapted from a theme based on:
 * IntelliJ Darcula Theme (https://github.com/bulenkov/Darcula)
 *
 * @author Alexandre Paradis <service.paradis@gmail.com>
 * @version 1.0
 */

.code-theme code[class*="language-"],
.code-theme pre[class*="language-"] {
  color: #a9b7c6;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.code-theme pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
.code-theme code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

.code-theme pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
.code-theme code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

/* Code blocks */
.code-theme pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.code-theme :not(pre) > code[class*="language-"],
.code-theme pre[class*="language-"] {
  background: #2b2b2b;
}

/* Inline code */
.code-theme :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.code-theme .token.comment,
.code-theme .token.prolog,
.code-theme .token.cdata {
  color: #808080;
}

.code-theme .token.delimiter,
.code-theme .token.boolean,
.code-theme .token.keyword,
.code-theme .token.selector,
.code-theme .token.important,
.code-theme .token.atrule {
  color: #cc7832;
}

.code-theme .token.operator,
.code-theme .token.punctuation,
.code-theme .token.attr-name {
  color: #a9b7c6;
}

.code-theme .token.tag,
.code-theme .token.tag .punctuation,
.code-theme .token.doctype,
.code-theme .token.builtin {
  color: #e8bf6a;
}

.code-theme .token.entity,
.code-theme .token.number,
.code-theme .token.symbol {
  color: #6897bb;
}

.code-theme .token.property,
.code-theme .token.constant,
.code-theme .token.variable {
  color: #9876aa;
}

.token.string,
.token.char {
  color: #6a8759;
}

.code-theme .token.attr-value,
.code-theme .token.attr-value .punctuation {
  color: #a5c261;
}
.code-theme .token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.code-theme .token.url {
  color: #287bde;
  text-decoration: underline;
}

.code-theme .token.function {
  color: #ffc66d;
}

.code-theme .token.regex {
  background: #364135;
}

.code-theme .token.bold {
  font-weight: bold;
}

.code-theme .token.italic {
  font-style: italic;
}

.code-theme .token.inserted {
  background: #294436;
}

.code-theme .token.deleted {
  background: #484a4a;
}

/*code.language-css .token.punctuation {
	color: #cc7832;
}*/

.code-theme code.language-css .token.property,
.code-theme code.language-css .token.property + .token.punctuation {
  color: #a9b7c6;
}

.code-theme code.language-css .token.id {
  color: #ffc66d;
}

.code-theme code.language-css .token.selector > .token.class,
.code-theme code.language-css .token.selector > .token.attribute,
.code-theme code.language-css .token.selector > .token.pseudo-class,
.code-theme code.language-css .token.selector > .token.pseudo-element {
  color: #ffc66d;
}
